<div class="content">
  <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="detail-content">
    <div class="detail-content">
      <mat-card class="contact-card">
        <mat-card-content>
          <div class="header-action">
            <div class="arrow" (click)="goBack(titleAction)"><mat-icon aria-hidden="false" aria-label="go back">arrow_back</mat-icon></div>
            <div class="action"><span >{{titleAction}}</span></div>
          </div>
         
        <form class="form-content example-form" id="contactForm" *ngIf="selectedMovie  || this.titleAction === 'Nueva película'" [formGroup]="form" (ngSubmit)="submit()">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'COMMON.TITLE' | translate}}</mat-label>
            <input matInput formControlName="title" class="form-control"  name="title">
            
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'FORM.POSTER' | translate}}</mat-label>
            <input matInput formControlName="poster" class="form-control"  name="poster">
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'FORM.GENRE' | translate}}</mat-label>
            <input matInput formControlName="genres" class="form-control"  name="genres">
          </mat-form-field><br>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'FORM.YEAR' | translate}}</mat-label>
            <input matInput formControlName="year" min="1900" class="form-control" type="number" name="year">
          </mat-form-field>
      
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'FORM.DURATION' | translate}}</mat-label>
            <input matInput formControlName="duration" min="30" max="300" class="form-control" type="number"  name="duration">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'FORM.PUNCTUATION' | translate}}</mat-label>
            <input matInput  formControlName="punctuation" min="1" max="10" class="form-control" type="number"  name="punctuation">
            <mat-error *ngIf="invalidPunctuation">
              {{'FORM.ERROR_PUNCTUATION' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'FORM.COMPANY' | translate}}</mat-label>
            <mat-select name="studio" formControlName="studio">
              <mat-option *ngFor="let studio of studiosList"  [value]="studio.name">
                {{studio.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>{{'FORM.ACTORS' | translate}}</mat-label>
            <mat-select formControlName="actors" multiple >
              <mat-option *ngFor="let actor of actorsList" [value]="actor.id" >{{actor.first_name}} {{actor.last_name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-form">
            <button *ngIf="action == 'edit'" class="button-cancel" id="btnCancel" mat-raised-button type="button" color="primary" [routerLink]="['/detail/', movieId]">Cancelar</button>
            <button *ngIf="action == 'add'" class="button-cancel" id="btnCancel" mat-raised-button type="button" color="primary" routerLink="/home/">Cancelar</button>
            <button id="btnSubmit" mat-raised-button type="submit" color="accent">Guardar</button>
          </div>
        </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>