<app-menu></app-menu>
<div class="content">
    <div *ngIf="selectedMovie" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" class="detail-content">
        <div class="detail-content">
            <div> <p>{{selectedMovie.title}}</p>
                <img class="img-poster" [src]="selectedMovie.poster!= null ? selectedMovie.poster : '../../assets/images/noPoster.png'">
            </div>   
            <div class="detail-input-content">
                <mat-form-field>
                    <input matInput placeholder="imdbRating" value={{selectedMovie.imdbRating}} class="form-control" type="number" name="imdbRating">
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Duracion" value={{selectedMovie.duration}} class="form-control" type="number" name="duration">
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Actores" value={{selectedMovie.title}} class="form-control" type="number" name="actors">
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Estudio" value={{selectedMovie.title}} class="form-control" type="text" name="studio">
                </mat-form-field><br>
                <mat-form-field>
                    <input matInput placeholder="Año"  value={{selectedMovie.year}} class="form-control" type="number" name="year">
                </mat-form-field><br>
                <div>
                    <span *ngFor="let genreMovie of selectedMovie.genre" > #{{genreMovie}} </span>
                </div>
            </div>
        </div>
    </div>
    <button mat-fab class="edit-button flotante" color="primary" routerLink="/detail">
        <mat-icon class="material-icons-round">edit</mat-icon>
    </button>
</div>