<app-menu></app-menu>
<div class="content">
    <div *ngIf="selectedMovie" fxFlex="100%" class="detail-content">
        <div class="detail-content">
            <div class="img-content"> 
                <p>{{selectedMovie.title}}</p>
                <img class="img-poster" [src]="selectedMovie.poster!= null ? selectedMovie.poster : '../../assets/images/noPoster.png'">
            </div>   
            <div class="detail-input-content">
                <mat-label>Puntuación</mat-label><br>
                <div>
                    <span>{{selectedMovie.imdbRating}}</span>
                </div><br>
                <mat-label>Duración</mat-label><br>
                <div>
                    <span>{{selectedMovie.duration}} min</span>
                </div><br>
                <mat-label>Estudios</mat-label><br>
                <div>
                    <span> {{selectedMovie.studio}} </span>
                </div><br>
                <mat-label>Año</mat-label><br>
                <div>
                    <span> {{selectedMovie.year}} </span>
                </div><br>
                <mat-label>Géneros</mat-label><br>
                <div>
                    <span *ngFor="let genreMovie of selectedMovie.genre" > #{{genreMovie}} </span>
                </div><br>
                <mat-label>Actores</mat-label><br>
                <mat-chip-list #chipList aria-label="Añadir actores">
                    <mat-chip *ngFor="let actor of nameActors">
                      {{actor}}
                    </mat-chip>
                    
                </mat-chip-list>
                
            </div>
        </div>
    </div>
    <button mat-fab class="delete-button flotante" color="accent" routerLink="">
        <mat-icon class="material-icons-round">delete</mat-icon>
    </button>
    <button mat-fab class="edit-button flotante-edit" color="primary" routerLink="/form/edit">
        <mat-icon class="material-icons-round">edit</mat-icon>
    </button>
</div>