<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" >
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let movie of moviesList">
            <mat-card class="mat-elevation-z4" (click)="goToDetail(movie)">
                <mat-card-header>
                    <mat-card-title>{{movie.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image  [src]="movie.poster!= null ? movie.poster : '../../assets/images/noPoster.png'">
                <mat-card-content>
                    <div >
                        <span *ngFor="let genreMovie of movie.genre" > #{{genreMovie}} </span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <button mat-fab class="home-add-button flotante" color="primary" routerLink="/form">
        <mat-icon class="material-icons-round">add</mat-icon>
    </button>
</div>
