.header-toolbar {
    padding: 0;
    height: 64px;
  
    &.show-button .header-button {
      display: inline-block;
    }
  
    .header-button {
      display: none;
      margin: 8px;
      padding: 0;
      min-width: 48px;
  
      .header-button-icon {
        height: 48px;
        width: 48px;
        font-size: 2rem;
        line-height: 48px;
        color: rgb(255, 255, 255);
      }
    }
  
    .header-title {
      padding-left: 16px;
    }
  }