
<div class="container-error">  
    <img class="img-error" alt="error 404 página no encontrada" src="../../assets/images/error-404.jpg">
    <!--TODO--><p class="title404">404 página no encontrada</p>
    <div>
        <p class="title404-mobile">Página no encontrada</p>
    </div>
    <div>
      <!--TODO-->   <span class="subtitle-mobile-error">Página no encontrada</span>
    </div>
     <!--TODO--><div class="text1"><span>Lo sentimos, no se pudo encontrar la página que solicitaste.</span> </div>
    <!--TODO--> <div class="text2">Vuelve a la página de inicio</div>
     <!--TODO--><div class="error-mobile"><p>Lo sentimos, no se pudo encontrar la página que solicitaste. Vuelve a la página de inicio</p></div>
     <!--TODO--><div class="button-error-content">
        <button class="button-cancel" id="btnCancel" mat-raised-button type="button" color="primary" routerLink="/home">Volver a la página principal</button></div>
</div>