<p>menu works!</p>
<div class="menu-container">
	<nav class="menu-options-wrapper">
		<mat-nav-list>
			<a mat-list-item routerLink="/Movies">
				<!--<mat-icon class="material-icons-round menu-item-icon">post_add</mat-icon>-->
				<span class="menu-item-label">Películas</span>
			</a>
			<a mat-list-item routerLink="/actors">
				<!--<mat-icon class="material-icons-round menu-item-icon">create_new_folder</mat-icon>-->
				<span class="menu-item-label">Actor</span>
			</a>
			<a mat-list-item routerLink="/studios">
				<!--<mat-icon class="material-icons-round menu-item-icon">create_new_folder</mat-icon>-->
				<span class="menu-item-label">Estudios</span>
			</a>
		</mat-nav-list>
	</nav>
</div>
